 
 
 header{
    background-image: url(images/pic1.jpg);
    background-size: 100% 120%;
    height: 600px;
    background-attachment: fixed;
 }
 
 .div1{
    /* border: solid; */
    height: 60px;
    background-color:rgba(255, 218, 185, 0.123);
  }

  .button1{
    width: 180px; 
    height: 50px;
    border: none; 
    border-radius: 10px;
    background-color: rgba(255, 0, 221, 0.637);
  }
  .button2{
    width: 180px; 
    height: 50px;
    border: none; 
    border-radius: 10px;
    background-color: lightgreen;
  }
  /* .div4{
    position: absolute;
    bottom: -105px;
    left: 100px;
  }
  */

  .card{
    position: absolute;
    bottom: 70px;
  }

  .hello{
    margin-left: 350px;
  }
  .center{
    margin-top: -200px;
    width: 100%;
    background-color: rgba(222, 184, 135, 0.089);
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    
  }
  .section1{
    margin-left: 100px;
    margin-top: 250px;
    height: 500px;
    width: 30%;
    
  }
  .section2{
    margin-top: 250px;
    height: 500px;
    width: 50%;
    
  }
  .img1{
    width: 100%;
    height: 490px;
  }
  #p2{
    margin-left: 30px;
  }


  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
  }
  .img2{
    width: 40%;
    height: 300px;
    margin-left: 20px;
    border: solid 15px yellow;
  }
  .img3{
    width: 40%;
    height: 300px;
    border: solid 15px green;
  }
  #i4{
    border: solid 15px orangered;
  }
  #i5{
    border: solid 15px violet;
  }
  #i6{
    border: solid 15px blue;
  }
  #i7{
    border: solid 15px purple;
  }
  #i8{
    border: solid 15px teal;
  }
  #i9{
    border: solid 15px springgreen;
  }

 
  .div7{
    width: 100%;
    height: 450px;
    background-color: palegoldenrod;
    border: solid palegoldenrod;
    margin-top: 50px;
  }
  .div8{
    margin-top: 120px;
    margin-left: 20px;
    width: 20%;
    height: 200px;
    border: solid green;
    animation: infinite;
    animation-name: umer;
    animation-duration: 4s;
    animation-delay: 1s;
    rotate: 0deg;
  }
  h1{
    animation-name: umer;
  }
  @keyframes umer {
    0% {background-color: blue; margin-left: 100px; rotate: 20deg;}
    25% {background-color: pink; margin-left: 300px; rotate: 50deg;}
    50% {background-color: lightblue; margin-left: 600px; rotate: 100deg;}
    75% {background-color: lightgreen; margin-left: 800px; rotate: 150deg;}
    100% {background-color: yellow; margin-left: 1000px; rotate: 220deg;} 
  }
 
  .div9{
    width: 100%;
    
    height: 500px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
  }
  .umer{
    width: 30%;
    height: 400px;
    margin-left: 40px;
    
  }
  .umer1{
    width: 30%;
    height: 400px;
    margin-left: 40px;
    
  }
  #gap{
    margin-left: 80px;
    text-align: center;
    margin-top: 100px;
    color: blue;
  }
  
  



























  
@media (max-width:445px){
  header{
   min-height: 700px !important;
   
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 800px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
     margin-left: 0px;
   }
   
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }
   .center{
     width: 100%;
     display: flex;
     flex-direction: column;
     margin-top: 10px;
     height: 1600px;
   }
   .section1{
     margin-top: 500px;
     width: 100%;
     margin-left: 0px;
   }
   .section2{
     margin-top: 0px;
     width: 100%;
     height: 620px;

   }

   .div6{
     overflow-x: scroll;
     scrollbar-color: darkgreen lightblue;
     display: flex;
     margin-top: 100px;
     margin-left: 0;
   }
   .img2{
     width: 80%;
     height: 300px;
     margin-left: 0px;
   }
   .img3{
     width: 80%;
     height: 300px;
     margin-left: 10px;
   }


   .div7{
    width: 100%;
    height: 400px;
  
    margin-top: 100px;
  }
  .div8{
    margin-top: 100px;
    /* margin-left: 20px; */
    width: 40%;
    height: 200px;
    border: solid green;
    animation: infinite;
    animation-name: umer;
    animation-duration: 4s;
    animation-delay: 1s;
    rotate: 0deg;
  }
  h1{
    animation-name: umer;
  }
  @keyframes umer {
    0% {background-color: blue; margin-left: 0px; rotate: 0deg;}
    25% {background-color: pink; margin-left: 100px; rotate: 50deg;}
    50% {background-color: lightblue; margin-left: 150px; rotate: 100deg;}
    75% {background-color: lightgreen; margin-left: 200px; rotate: 150deg;}
    100% {background-color: yellow; margin-left: 250px; rotate: 180deg;} 
  }




  .div9{
    width: 100%;
   
    height: 1100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }
  .umer{
    width: 60%;
    height: 400px;
    margin-left: 80px;
    
  }
  .umer1{
    width: 60%;
    height: 400px;
    margin-left: 80px;
    margin-top: 50px;
  }
  #gap{
    margin-left: 10px;
    text-align: center;
    margin-top: 50px;
    color: blue;
  }

   
}











@media (max-width:415px){
   header{
    min-height: 700px !important;
    
   } 
  
  .div5{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 800px;
    }

    .card{
      width: 100% !important;
      margin-top: 10px;
    }
    .hello{
      margin-left: 0px;
    }
    
    .div4{
      position: absolute;
    }
    #p1{
      
      display: flex;
      flex-wrap: wrap;
    }
    .center{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      height: 1800px;
    }
    .section1{
      margin-top: 500px;
      width: 100%;
      margin-left: 0px;
    }
    .section2{
      margin-top: 0px;
      width: 100%;
      height: 620px;

    }

    .div6{
      overflow-x: scroll;
      scrollbar-color: darkgreen lightblue;
      display: flex;
      margin-top: 100px;
      margin-left: 0;
    }
    .img2{
      width: 80%;
      height: 300px;
      margin-left: 0px;
    }
    .img3{
      width: 80%;
      height: 300px;
      margin-left: 10px;
    }
    
}







@media (max-width:390px){
  header{
   min-height: 800px !important;
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 900px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
    margin-left: 0px;
    
  }
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }

   .center{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 1800px;
  }
  .section1{
    margin-top: 500px;
    width: 100%;
    margin-left: 0px;
  }
  .section2{
    margin-top: 0px;
    width: 100%;
    height: 620px;
  }

  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
    margin-left: 0;
  }
  .img2{
    width: 80%;
    height: 300px;
    margin-left: 0px;
  }
  .img3{
    width: 80%;
    height: 300px;
    margin-left: 10px;
  }


  .div7{
    width: 100%;
    height: 400px;
    margin-top: 100px;
  }
  .div8{
    margin-top: 100px;
    /* margin-left: 20px; */
    width: 40%;
    height: 200px;
    border: solid green;
    animation: infinite;
    animation-name: umer;
    animation-duration: 4s;
    animation-delay: 1s;
    rotate: 0deg;
  }
  h1{
    animation-name: umer;
  }
  @keyframes umer {
    0% {background-color: blue; margin-left: 0px; rotate: 0deg;}
    25% {background-color: pink; margin-left: 80px; rotate: 50deg;}
    50% {background-color: lightblue; margin-left: 130px; rotate: 100deg;}
    75% {background-color: lightgreen; margin-left: 180px; rotate: 150deg;}
    100% {background-color: yellow; margin-left: 230px; rotate: 180deg;} 
  }
   
}





@media (max-width:300px){
  header{
   min-height: 800px !important;
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 900px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
    margin-left: 0px;
    
  }
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }

   .center{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 2000px;
  }
  .section1{
    margin-top: 500px;
    width: 100%;
    margin-left: 0px;
  }
  .section2{
    margin-top: 0px;
    width: 100%;
    height: 620px;
  }

  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
    margin-left: 0;
  }
  .img2{
    width: 80%;
    height: 300px;
    margin-left: 0px;
  }
  .img3{
    width: 80%;
    height: 300px;
    margin-left: 10px;
  }

  .div7{
    width: 100%;
    height: 400px;
  
    margin-top: 100px;
  }
  .div8{
    margin-top: 100px;
    /* margin-left: 20px; */
    width: 50%;
    height: 200px;
    border: solid green;
    animation: infinite;
    animation-name: umer;
    animation-duration: 4s;
    animation-delay: 1s;
    rotate: 0deg;
  }
  h1{
    animation-name: umer;
  }
  @keyframes umer {
    0% {background-color: blue; margin-left: 0px; rotate: 0deg;}
    25% {background-color: pink; margin-left: 40px; rotate: 50deg;}
    50% {background-color: lightblue; margin-left: 90px; rotate: 100deg;}
    75% {background-color: lightgreen; margin-left: 120px; rotate: 150deg;}
    100% {background-color: yellow; margin-left: 140px; rotate: 180deg;} 
  }

  .div9{
    width: 100%;
   
    height: 1100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }
  .umer{
    width: 60%;
    height: 400px;
    margin-left: 50px;
    
  }
  .umer1{
    width: 60%;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
  }
  #gap{
    margin-left: 10px;
    text-align: center;
    margin-top: 50px;
    color: blue;
  }

   
}






@media (max-width:250px){
  header{
   min-height: 850px !important;
   width: 100%;
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 950px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
    margin-left: 0px;
    
  }
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }

   .center{
    width: 105%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 2400px;
  }
  .section1{
    margin-top: 650px;
    width: 100%;
    margin-left: 0px;
  }
  .section2{
    margin-top: 100px;
    width: 100%;
    height: 620px;
  }

  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
    margin-left: 0;
  }
  .img2{
    width: 80%;
    height: 300px;
    margin-left: 0px;
  }
  .img3{
    width: 80%;
    height: 300px;
    margin-left: 10px;
  }




  .div7{
    width: 105%;
    height: 400px;
  
    margin-top: 100px;
  }
  .div8{
    margin-top: 100px;
    /* margin-left: 20px; */
    width: 55%;
    height: 180px;
    border: solid green;
    animation: infinite;
    animation-name: umer;
    animation-duration: 4s;
    animation-delay: 1s;
    rotate: 0deg;
  }
  h1{
    animation-name: umer;
  }
  @keyframes umer {
    0% {background-color: blue; margin-left: 0px; rotate: 0deg;}
    25% {background-color: pink; margin-left: 30px; rotate: 50deg;}
    50% {background-color: lightblue; margin-left: 60px; rotate: 100deg;}
    75% {background-color: lightgreen; margin-left: 90px; rotate: 150deg;}
    100% {background-color: yellow; margin-left: 110px; rotate: 180deg;} 
  }
   
}










