
 header{
    background-image: url(images/pic1.jpg);
    background-size: 100% 120%;
    height: 600px;
    background-attachment: fixed;
 }
 
 .div1{
    /* border: solid; */
    height: 60px;
    background-color:rgba(255, 218, 185, 0.123);
  }

  .button1{
    width: 180px; 
    height: 50px;
    border: none; 
    border-radius: 10px;
    background-color: rgba(255, 0, 221, 0.637);
  }
  .button2{
    width: 180px; 
    height: 50px;
    border: none; 
    border-radius: 10px;
    background-color: lightgreen;
  }
  /* .div4{
    position: absolute;
    bottom: -105px;
    left: 100px;
  }
  */

  .card{
    position: absolute;
    bottom: 70px;
  }

  .hello{
    margin-left: 350px;
  }
  .center{
    margin-top: -200px;
    width: 100%;
    background-color: rgba(222, 184, 135, 0.089);
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    
  }
  .section1{
    margin-left: 100px;
    margin-top: 250px;
    height: 500px;
    width: 30%;
    
  }
  .section2{
    margin-top: 250px;
    height: 500px;
    width: 50%;
    
  }
  .img1{
    width: 100%;
    height: 490px;
  }
  #p2{
    margin-left: 30px;
  }


  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
  }
  .img2{
    width: 40%;
    height: 300px;
    margin-left: 20px;
    border: solid 15px yellow;
  }
  .img3{
    width: 40%;
    height: 300px;
    border: solid 15px green;
  }
  #i4{
    border: solid 15px orangered;
  }
  #i5{
    border: solid 15px violet;
  }
  #i6{
    border: solid 15px blue;
  }
  #i7{
    border: solid 15px purple;
  }
  #i8{
    border: solid 15px teal;
  }
  #i9{
    border: solid 15px springgreen;
  }

  



























  
@media (max-width:445px){
  header{
   min-height: 700px !important;
   
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 800px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
     margin-left: 0px;
   }
   
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }
   .center{
     width: 100%;
     display: flex;
     flex-direction: column;
     margin-top: 10px;
     height: 1600px;
   }
   .section1{
     margin-top: 500px;
     width: 100%;
     margin-left: 0px;
   }
   .section2{
     margin-top: 0px;
     width: 100%;
     height: 620px;

   }

   .div6{
     overflow-x: scroll;
     scrollbar-color: darkgreen lightblue;
     display: flex;
     margin-top: 100px;
     margin-left: 0;
   }
   .img2{
     width: 80%;
     height: 300px;
     margin-left: 0px;
   }
   .img3{
     width: 80%;
     height: 300px;
     margin-left: 10px;
   }
   
}











@media (max-width:415px){
   header{
    min-height: 700px !important;
    
   } 
  
  .div5{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 800px;
    }

    .card{
      width: 100% !important;
      margin-top: 10px;
    }
    .hello{
      margin-left: 0px;
    }
    
    .div4{
      position: absolute;
    }
    #p1{
      
      display: flex;
      flex-wrap: wrap;
    }
    .center{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      height: 1800px;
    }
    .section1{
      margin-top: 500px;
      width: 100%;
      margin-left: 0px;
    }
    .section2{
      margin-top: 0px;
      width: 100%;
      height: 620px;

    }

    .div6{
      overflow-x: scroll;
      scrollbar-color: darkgreen lightblue;
      display: flex;
      margin-top: 100px;
      margin-left: 0;
    }
    .img2{
      width: 80%;
      height: 300px;
      margin-left: 0px;
    }
    .img3{
      width: 80%;
      height: 300px;
      margin-left: 10px;
    }
    
}







@media (max-width:390px){
  header{
   min-height: 800px !important;
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 900px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
    margin-left: 0px;
    
  }
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }

   .center{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 1800px;
  }
  .section1{
    margin-top: 500px;
    width: 100%;
    margin-left: 0px;
  }
  .section2{
    margin-top: 0px;
    width: 100%;
    height: 620px;
  }

  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
    margin-left: 0;
  }
  .img2{
    width: 80%;
    height: 300px;
    margin-left: 0px;
  }
  .img3{
    width: 80%;
    height: 300px;
    margin-left: 10px;
  }
   
}





@media (max-width:300px){
  header{
   min-height: 800px !important;
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 900px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
    margin-left: 0px;
    
  }
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }

   .center{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 2000px;
  }
  .section1{
    margin-top: 500px;
    width: 100%;
    margin-left: 0px;
  }
  .section2{
    margin-top: 0px;
    width: 100%;
    height: 620px;
  }

  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
    margin-left: 0;
  }
  .img2{
    width: 80%;
    height: 300px;
    margin-left: 0px;
  }
  .img3{
    width: 80%;
    height: 300px;
    margin-left: 10px;
  }
   
}






@media (max-width:250px){
  header{
   min-height: 850px !important;
  } 
 
 .div5{
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 950px;
   }

   .card{
     width: 100% !important;
     margin-top: 10px;
   }
   .hello{
    margin-left: 0px;
    
  }
   .div4{
     position: absolute;
   }
   #p1{
     
     display: flex;
     flex-wrap: wrap;
   }

   .center{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 2400px;
  }
  .section1{
    margin-top: 650px;
    width: 100%;
    margin-left: 0px;
  }
  .section2{
    margin-top: 100px;
    width: 100%;
    height: 620px;
  }

  .div6{
    overflow-x: scroll;
    scrollbar-color: darkgreen lightblue;
    display: flex;
    margin-top: 100px;
    margin-left: 0;
  }
  .img2{
    width: 80%;
    height: 300px;
    margin-left: 0px;
  }
  .img3{
    width: 80%;
    height: 300px;
    margin-left: 10px;
  }
   
}










